* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100%;
    width: 70%;
  }

  header {
    height: 80px;
    width: 100%;
    background-color: bisque;
    position: fixed;
    z-index: 1;
  }

  section{
    padding-top: 80px;
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  #menu {
    display: flex;
    flex-flow: column;
    background-color: green;
    width: 30%;
  }

  #itenerary {
    height: 50%;
    background-color: blueviolet;
  }

  #selection {
    height: 50%;
    background-color: aquamarine;
  }